*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

header, main, footer{
    padding: 30px;
    text-align: center;
}

header{
    background-color: aquamarine;

}

main{
    background-color: bisque;
    flex-grow: 1;

}

footer{
    background-color: brown;

}