*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

header, main, footer{
    padding: 30px;
    text-align: center;
}

header{
    background-color: aquamarine;
    
}

header nav ul{
    display: flex;
    justify-content: space-between;
    margin: 30px 0px;
}

header nav ul li{
    list-style: none;
    background-color: black;
}

header nav ul li a{
    color: aliceblue;
    padding: 16px;
    text-decoration: none;
    border-radius: 10px;
}

main{
    background-color: bisque;
    flex-grow: 1;
}

footer{
    background-color: brown;

}